.extraInfo {
  width: 90%;
  padding: 90px 5%;
  background: #fff;

  > ._content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    > ._infoItem {
      margin-bottom: 30px;
      border-radius: 35px;
      background: #eaf2f5;
      padding: 35px;
      display: flex;
      align-items: center;

      > img {
        width: 100%;
      }

      > div {
        display: flex;
        flex-direction: column;

        > ._title {
          margin-bottom: 20px;
          font-size: 32px;
          font-weight: 500;

          @media screen and (max-width: 37.5em) {
            font-size: 24px;
          }
        }
      }

      @media screen and (max-width: 64em) {
        width: 100% !important;
      }
    }
  }
}
