.extra {
  border-radius: 35px;
  background-color: #eaf2f5;
  padding: 40px;
  width: 25%;
  margin: 1% auto;

  > div {
    margin: 20px 0;
  }

  > ._topSection {
    display: flex;
    justify-content: center;
  }

  > ._titleContainer {
    > ._title {
      text-align: center;
      font-size: 16px;
      font-weight: 600;

      @media screen and (max-width: 48em) {
        font-size: 24px;
        font-weight: 600;
      }
    }
  }

  > ._subTitleContainer {
    > ._subTitle {
      text-align: center;
      font-size: 13px;
      font-weight: 400;

      @media screen and (max-width: 48em) {
        font-size: 18px;
        font-weight: 400;
      }
    }
  }

  @media screen and (max-width: 48em) {
    width: 100%;
    margin: 15px auto;
  }
}
