.footer {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;

  > div {
    display: flex;
    align-items: center;
    flex-direction: column;

    & span {
      font-size: 14px;
      font-weight: 500;
    }

    @media screen and (max-width: 48em) {
      margin-bottom: 10px;
    }
  }

  > ._left {
    > ._logo {
      display: flex;
      justify-content: center;
    }

    > ._iconsContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 30px;

      > svg {
        background: #fff;
        border-radius: 50px;
        padding: 15px;
        font-size: 24px;
      }
    }
  }

  > ._right {
    > div {
      display: flex;
      flex-direction: column;
      align-items: center;

      > a {
        text-decoration: none;
      }
    }
  }

  @media screen and (max-width: 48em) {
    flex-direction: column;
  }
}
