@use "../utils/globalStyle.scss";

.hero {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 40px;

  > ._content {
    display: flex;
    align-items: center;

    > ._left {
      width: 75%;

      > ._titleContainer {
        > ._title {
          font-size: 38px;
          font-weight: 500;

          @media screen and (max-width: 48em) {
            font-size: 24px;
          }
        }
      }

      > .separator {
        background: #dedede;
        width: 100%;
        height: 1px;
        margin: 5% 0;
      }

      > ._subTitleContainer {
        > ._subTitle {
          font-size: 16px;
          font-weight: 400;
        }
      }

      > ._buttonContainer {
        margin: 5% 0;

        > button {
          @media screen and (max-width: 48em) {
            width: 100%;
          }
        }
      }
    }

    > ._right {
      width: 100%;
      display: flex;
      justify-content: flex-end;

      > img {
          width: 50%;
        }

      @media screen and (max-width: 48em) {
        justify-content: center;
      }
    }

    > ._scrollButton {
      position: relative;
      bottom: -45px;
      right: 50%;
      align-self: end;

      > svg {
        font-size: 32px;
        fill: #000;
      }

      @media screen and (max-width: 64em) {
        position: relative;
        display: flex;
        justify-content: center;
      }

      @media screen and (max-width: 48em) {
        right: initial;
        left: initial;
      }

      @media screen and (max-width: 37.5em) {
        align-self: initial;
      }
    }

    @media screen and (max-width: 48em) {
      flex-direction: column;

      > div {
        width: 100% !important;
        padding-bottom: 30px;
      }
    }
  }
}
